h2 {
    color: yellow;
    background-color: rgb(89, 151, 0);
}

button {
    color: red;
    background-color: blue;
}

p {
    color: blue;
    background-color: #FF5733;

}

body {
    background-color: black;
}