body {
    font-family: 'Roboto', sans-serif;

}

main {
    width: 60%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Tilt Prism', cursive;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}